http:
  routers:
    api:
      rule: "PathPrefix(`/api/traefik`)"
      entrypoints:
        - websecure
      service: api@internal
      tls: true

tls:
  certificates:
    - certFile: /etc/traefik/certs/cert.pem
      keyFile: /etc/traefik/certs/key.pem
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/certs/cert.pem
        keyFile: /etc/traefik/certs/key.pem
